@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@import 'layerchart/skeleton-4.css';

@custom-variant dark (&:where(.dark, .dark *));
