@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@import 'layerchart/skeleton-3.css';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));
