@import 'tailwindcss';
@import '@layerstack/tailwind/core.css';
@import '@layerstack/tailwind/utils.css';
/* @import '@layerstack/tailwind/themes/basic.css'; */
@import '@layerstack/tailwind/themes/all.css';

@source '../node_modules/svelte-ux/dist';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: color-mix(in oklab, var(--color-surface-content) 20%, transparent);
		outline-color: color-mix(in oklab, var(--color-surface-content) 20%, transparent);
	}
}

@layer utilities {
	.background-gradient {
		background: radial-gradient(
			49.63% 57.02% at 58.99% -7.2%,
			color-mix(in oklab, var(--color-primary) 5%, transparent) 39.4%,
			transparent 100%
		);
	}

	.background-grid {
		--size: 50px;
		--_g: #0000 90deg, color-mix(in srgb, var(--color-primary) 3%, transparent) 0;

		background:
			conic-gradient(from 90deg at 2px 2px, var(--_g)) 0 0 / var(--size) var(--size),
			conic-gradient(from 90deg at 1px 1px, var(--_g)) 0 0 / calc(var(--size) / 5)
				calc(var(--size) / 5);
	}
}
